name: Deploy Static Build

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy dist folder to VPS
        run: |
          rsync -avz --delete dist/ root@YOUR_SERVER_IP:/var/www/html/
